<form name="mon-formulaire1" action="/persone"  method="post">
  <input type="hidden" name="method" value="PUT" />
<!--
   <input type="radio" name="civi" value="Mme" /> Madame
   <input type="radio" name="civi" value="Mlle" /> Mademoiselle
   <input type="radio" name="civi" value="Mr" /> Monsieur
</p>  -->
<p>
   first name :<br />
   <input type="text" name="persone[first_name]"  value=<%= @persone.first_name %> />
</p>
<p>
   Last Name :<br />
   <input type="text" name="persone[last_name]"   value="" />
</p>
<!--
<p>
   Votre mot de passe :<br />
   <input type="password" name="passe" value="" />
</p>  @persone.last_name 
<p>
   Vous êtes<br />
   <select name="profil">
      <option value="parti">Un particulier</option>
      <option value="profe" selected="selected">Un professionnel</option>
      <option value="insti">Un institutionnel</option>
   </select>
</p>
<p>
   Quel type de prestation recherchez vous ?<br />
   <input type="checkbox" name="interet" value="loc" /> Location de mobilier
   <input type="checkbox" name="interet" value="achat" /> Achat de mobilier
</p>
<p>
   Votre message :<br />
   <textarea name="le-message" rows="6" cols="40">Vous pouvez saisir ici un message.</textarea>
</p> --> 
<p>
   <input type="submit" value="Update" />
   <input type="reset" value="Annuler" />
</p> 
</form>